
/* Font Embedding */

@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {scroll-behavior: smooth;}

body {
  background-color: #cbac85;
  font-family: 'Karla', Helvetica, sans-serif;
  margin: 0;
}

/*========================================*/

/* Header and Neavigation */

header {
  background-color: #3e1e04;
  max-height: 90px;
  width: 100%;
  padding: 0 15px;
  position: fixed;
  top: 0;
}

#logo {display: inline-block;}

#header-img {
  border-radius: 50%;
  max-width: 70px;
  margin: 5px;
}

#nav-bar {
  display: inline-block;
  text-align: right;
}

#nav-bar li, .contact-item {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

.nav-link {
  font-size: 20px;
  font-weight: bold;
  color: #cbac85;
  padding: 3px 5px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #cbac85;
  border-radius: 3px;
  color: 	#3e1e04;
  transition: .3s;
}

/*========================================*/

/* Page Container and Landing */

.container {
  margin: 0 auto;
  width: 100%;
}

section {
  margin: 0 auto;
  padding: 20px;
  padding-top: 90px;
}

.headline h2 {margin: 5px;}

#home {
  background-image: url("images/landing.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home h2 {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: #fff;
  font-size: 2.3em;
  padding: 5px 10px;
  text-align: center;
}

/*========================================*/

/* Specials */

#specials {background-color: #fff;}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.specials-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100%/3);
}

.specials-item img {
  max-width: 250px;
  width: 100%;
}

.drink-name {
  color: 	#3e1e04;
  font-size: 1.5em;
}

.btn {
  background-color: #965015;
  border: 0;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #000;
  color: #fff;
  cursor: pointer;
  height: 30px;
  width: 80px;
}

.btn:hover {
  background-color: #3e1e04;
  transition: .2s;
}

/*========================================*/

/* About */

#about {
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-img, #about-para {
  margin: 20px;
  width: 50%;
}

#about-img img {width: 100%;}

#video {
  display: block;
  max-width: 500px;
  width: 100%;
}

/*========================================*/

/* Contact and Footer */

#contact {
  background-color: #cbac85;
  padding-top: 20px;
}

#contact h2, h3 {color: #3e1e04;}

#contact ul {
  padding: 0;
  text-align: center;
  width: 100%;
}
.contact-item {
  margin: 20px 10px;
  padding: 0;
}

.contact-item img {
  border-radius: 50%;
  box-shadow: 3px 3px 5px #000;
  display: block;
  width: 80px;
}

input[type="email"] {
  max-width: 280px; 
  border-radius: 3px;
  padding: 5px;
  width: 100%;
}

.subscribe, footer {
  text-align: center;
}

#copy {
  margin-top: 30px;
}

#submit {
  margin: 10px;
}

/*========================================*/

/* Media Queries */

@media (max-width: 800px){
  #about-img, #about-para {
    margin: 10px;
    padding: 0;
    width: 100%;
  }
  
  #about-para {
    font-size: 0.9em;
    margin-left: 10px;
  }
}

@media (max-width: 600px){

  .flex-container {
    align-items: center;
    justify-content: center;
  }

  header {
    flex-direction: row;
    padding: 0 5px;
  }

  #nav-bar li {
    margin: 0;
  }
  
  .nav-link {font-size: 16px;}
  
  .contact-item img {
    max-width: 50px;
  }
}

@media (max-width: 470px){

  #logo img {width: 50px;}

  .contact-item img {width: 40px;}
}